
<div class="condition-builder">
	<div ng-repeat="c in conditions">
		
		<div ng-if="$index != 0" class="form-inline bool-op">
			<select class="form-control input-sm"
				ng-options="o as o for o in booleanOperators" ng-model="c.bool" ></select>
		</div>
		
		<div ng-if="c.conditions" class="condition-group">			
			<div class="pull-right">
				<button class="btn btn-danger btn-sm" ng-click="removeAt($index)">&times;</button>
			</div>
			<expression-builder 
					conditions="c.conditions" 
					boolean-operators="booleanOperators" 
					comparison-operators="comparisonOperators"
					left-operands="leftOperands" left-operand-provider="leftOperandProvider" 
					right-operands="rightOperands" right-operand-provider="rightOperandProvider">
			</expression-builder>
		</div>
		
		<div ng-if="!c.conditions" class="form-inline">
			<div class="form-group-sm">								
			
				<select class="form-control" ng-if="leftOperands"
						ng-model="c.leftOperand"
						ng-options="operand for operand in leftOperands"></select>
				<input class="form-control" ng-if="!leftOperands"
						ng-model="c.leftOperand" placeholder="Left Operand"
						typeahead="operand for operand in getLeftOperands($viewValue)"> 
						
				<select class="form-control" 
						ng-model="c.comparison"
						ng-options="o as o for o in comparisonOperators"></select> 
						
				<select class="form-control" ng-if="rightOperands"
						ng-model="c.rightOperand"
						ng-options="operand for operand in rightOperands"></select>
				<input class="form-control" ng-if="!rightOperands"
						ng-model="c.rightOperand" placeholder="Right Operand"
						typeahead="operand for operand in getRightOperands($viewValue)">
						
				<button class="btn btn-danger btn-sm" ng-click="removeAt($index)">&times;</button>
			</div>
		</div>				
				
	</div>
	
	<div class="condition-group-button-row">
		<button class="btn btn-default btn-sm" ng-click="addCondition()"><span class="glyphicon glyphicon-plus-sign"></span> Add Condition</button>
		<button class="btn btn-default btn-sm" ng-click="addGroup()"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</button>		
	</div>
</div>